.gallery-page .swiper-pagination-clickable .swiper-pagination-bullet {
    height: 3px;
    border-radius: 0;
    width: 30px;
    background-color: #fff;
    opacity: 0.5;
}

.gallery-page .swiper-pagination-clickable  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.gallery-page .swiper-button-next, .swiper-button-prev{
    color: #fff;
    transform: scale(0.5);
    font-weight: bold;
}

.gallery-page .swiper-button-prev{
    margin-left: 10px;
}

.gallery-page .swiper-button-next{
    margin-right: 10px;
}