.ya-nav-action {
    background-image: url("/public/images/ic_action.e09acf8.svg");
}

.ya-ru {
    background-image: url("/public/images/ic_russian.1dc2d5b.png");
}

.ya-uz {
    background-image: url("/public/images/ic_uzbek.e51754b.png");
}

.ya-en {
    background-image: url("/public/images/ic_english.9424fd9.png");
}